<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="webrtc.module">
    <application>
        <activity
            android:name="webrtc.module.activity.JoinActivity"
            android:exported="true">
        </activity>
    </application>
</manifest>